In [33]:
import pandas as pd

In [34]:
from sqlalchemy import create_engine

In [42]:
engine=create_engine('postgresql://postgres:root@localhost:5432/Improved_data')

In [43]:
engine.connect()

In [44]:
import pandas as pd
# Load pre-built time series example dataset
df = pd.read_csv("https://datasets.techoverflow.net/timeseries-example.csv", parse_dates=["Timestamp"])
df.set_index("Timestamp", inplace=True)
import sqlalchemy
db = sqlalchemy.create_engine('sqlite:///timeseries.db')
df.to_sql('timeseries', db, if_exists="replace")

10000

In [45]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (2.0.0b3)
Requirement already satisfied: psycopg2-binary in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.3)
Note: you may need to restart the kernel to use updated packages.

In [48]:
df.to_sql(name='yellow_taxi_data1',con=engine, index=False)

1000

In [54]:
query= """
SELECT * from yellow_taxi_data1 LIMIT 10;
"""
pd.read_sql(query, con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'