In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.4.4'

In [4]:
df = pd.read_csv('yellow_tripdata_2015-01.csv',nrows=100)

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2015-01-15 14:00:46,2015-01-15 14:14:51,1,1.62,-73.976181,40.751205,1,N,-73.986374,40.766586,1,10.5,0.0,0.5,2.10,0.0,0.3,13.40
96,2,2015-01-15 14:00:47,2015-01-15 14:16:01,1,1.56,-73.959274,40.774376,1,N,-73.976395,40.762939,2,10.5,0.0,0.5,0.00,0.0,0.3,11.30
97,2,2015-01-15 14:00:47,2015-01-15 14:23:36,5,4.96,-73.972862,40.743523,1,N,-73.914124,40.764969,2,19.0,0.0,0.5,0.00,0.0,0.3,19.80
98,1,2015-01-26 12:41:08,2015-01-26 12:48:47,2,1.00,-73.966637,40.804657,1,N,-73.954407,40.808372,1,7.0,0.0,0.5,1.55,0.0,0.3,9.35
99,1,2015-01-26 12:41:09,2015-01-26 12:55:10,1,4.30,-73.966644,40.804417,1,N,-73.991127,40.761070,2,15.5,0.0,0.5,0.00,0.0,0.3,16.30

In [10]:
df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (2.0.0b3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\genet shanko\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy) (1.1.3)

In [52]:
from sqlalchemy import create_engine

In [53]:
engine=create_engine('postgresql://postgres:root@localhost:5432/Improved_data')

In [54]:
engine.connect()

In [62]:
from sqlalchemy import create_engine

sql_engine = create_engine('sqlite:///test.db', echo=False)
connection = sql_engine
df.to_sql('data', connection, index=False, if_exists='append')

48986

In [60]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	pickup_longitude FLOAT(53),
	pickup_latitude FLOAT(53),
	"RateCodeID" BIGINT,
	store_and_fwd_flag TEXT,
	dropoff_longitude FLOAT(53),
	dropoff_latitude FLOAT(53),
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('yellow_tripdata_2015-01.csv',iterator=True,chunksize=100000)

In [23]:
df=next(df_iter)

In [24]:
len(df)

100000

In [25]:
df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)

In [31]:
df.to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

1000

In [32]:
%time df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')

CPU times: total: 12.8 s
Wall time: 24 s

1000

In [33]:
from time import time

In [34]:
while True:
    t_start=time()
    df=next(df_iter)
    df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')
    t_end=time()
    
    print('inserted another chunk...,took %.3f second'%(t_end-t_start))

inserted another chunk...,took 20.983 second
inserted another chunk...,took 24.975 second
inserted another chunk...,took 27.516 second
inserted another chunk...,took 35.333 second
inserted another chunk...,took 28.931 second
inserted another chunk...,took 25.397 second
inserted another chunk...,took 24.308 second
inserted another chunk...,took 21.542 second
inserted another chunk...,took 21.404 second
inserted another chunk...,took 18.719 second
inserted another chunk...,took 18.953 second
inserted another chunk...,took 17.683 second
inserted another chunk...,took 17.298 second
inserted another chunk...,took 22.284 second
inserted another chunk...,took 19.368 second
inserted another chunk...,took 18.177 second
inserted another chunk...,took 17.729 second
inserted another chunk...,took 22.885 second
inserted another chunk...,took 18.089 second
inserted another chunk...,took 17.684 second
inserted another chunk...,took 21.190 second
inserted another chunk...,took 17.351 second
inserted another chunk...,took 17.751 second
inserted another chunk...,took 19.295 second
inserted another chunk...,took 17.517 second
inserted another chunk...,took 17.197 second
inserted another chunk...,took 17.659 second
inserted another chunk...,took 19.441 second
inserted another chunk...,took 17.471 second
inserted another chunk...,took 21.588 second
inserted another chunk...,took 17.723 second
inserted another chunk...,took 18.889 second
inserted another chunk...,took 17.259 second
inserted another chunk...,took 19.958 second
inserted another chunk...,took 18.269 second
inserted another chunk...,took 16.956 second
inserted another chunk...,took 22.318 second
inserted another chunk...,took 17.500 second
inserted another chunk...,took 18.333 second
inserted another chunk...,took 17.947 second
inserted another chunk...,took 18.583 second
inserted another chunk...,took 16.706 second
inserted another chunk...,took 16.303 second
inserted another chunk...,took 16.615 second
inserted another chunk...,took 16.577 second
inserted another chunk...,took 16.158 second
inserted another chunk...,took 16.521 second
inserted another chunk...,took 17.526 second
inserted another chunk...,took 19.052 second
inserted another chunk...,took 17.484 second
inserted another chunk...,took 17.570 second
inserted another chunk...,took 16.844 second
inserted another chunk...,took 17.345 second
inserted another chunk...,took 17.198 second
inserted another chunk...,took 18.104 second
inserted another chunk...,took 17.163 second
inserted another chunk...,took 18.626 second
inserted another chunk...,took 18.094 second
inserted another chunk...,took 16.402 second
inserted another chunk...,took 16.412 second
inserted another chunk...,took 17.294 second
inserted another chunk...,took 17.233 second
inserted another chunk...,took 17.554 second
inserted another chunk...,took 17.585 second
inserted another chunk...,took 18.610 second
inserted another chunk...,took 17.426 second
inserted another chunk...,took 17.666 second
inserted another chunk...,took 17.033 second
inserted another chunk...,took 16.530 second
inserted another chunk...,took 16.798 second
inserted another chunk...,took 16.432 second
inserted another chunk...,took 16.602 second
inserted another chunk...,took 17.484 second
inserted another chunk...,took 18.140 second
inserted another chunk...,took 18.838 second
inserted another chunk...,took 20.199 second
inserted another chunk...,took 17.262 second
inserted another chunk...,took 17.420 second
inserted another chunk...,took 17.696 second
inserted another chunk...,took 17.165 second
inserted another chunk...,took 16.568 second
inserted another chunk...,took 17.433 second
inserted another chunk...,took 17.788 second
inserted another chunk...,took 17.020 second
inserted another chunk...,took 16.554 second
inserted another chunk...,took 17.840 second
inserted another chunk...,took 17.172 second
inserted another chunk...,took 16.680 second
inserted another chunk...,took 18.857 second
inserted another chunk...,took 17.662 second
inserted another chunk...,took 17.679 second
inserted another chunk...,took 18.785 second
inserted another chunk...,took 18.422 second
inserted another chunk...,took 17.830 second
inserted another chunk...,took 17.644 second
inserted another chunk...,took 18.116 second
inserted another chunk...,took 17.753 second
inserted another chunk...,took 18.242 second
inserted another chunk...,took 18.707 second
inserted another chunk...,took 16.476 second
inserted another chunk...,took 16.386 second
inserted another chunk...,took 16.523 second
inserted another chunk...,took 17.404 second
inserted another chunk...,took 16.517 second
inserted another chunk...,took 17.887 second
inserted another chunk...,took 18.315 second
inserted another chunk...,took 18.682 second
inserted another chunk...,took 20.570 second
inserted another chunk...,took 20.880 second
inserted another chunk...,took 20.415 second
inserted another chunk...,took 18.148 second
inserted another chunk...,took 1074.478 second
inserted another chunk...,took 38.322 second
inserted another chunk...,took 30.733 second
inserted another chunk...,took 28.356 second
inserted another chunk...,took 29.434 second
inserted another chunk...,took 22.022 second
inserted another chunk...,took 22.675 second
inserted another chunk...,took 27.716 second
inserted another chunk...,took 29.375 second
inserted another chunk...,took 27.339 second
inserted another chunk...,took 29.803 second
inserted another chunk...,took 27.443 second
inserted another chunk...,took 24.122 second
inserted another chunk...,took 25.302 second
inserted another chunk...,took 26.996 second
inserted another chunk...,took 17.958 second

StopIteration: